@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #D5E1EF;
    font-family: 'Outfit', sans-serif;
}
main{
    background: #fff;
    width: 320px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

main img{
    height: 300px;
}

main h1{
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
    font-size: 24px;
    color: #1F314F;
}
main p{
    text-align: center;
    margin: 20px 0;
    font-weight: 400;
    color: #7D889E;
}